  .logo {
    margin-left: 20px;
  }
  
  .redes-sociais {
    margin-right: 20px;
  }
  
  .section1 {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 120px;

    @media(max-width: 600px) {
      padding: 0;
    }
  
    > div {
      padding: 10px 20px;
      max-width: 1100px;
        border-radius: 7px;
        padding: 3rem;
        background-color: #eee;

        > h1 {
          font-family: "Fjalla One",sans-serif;
          font-weight: 700;
          font-size: 1.5rem;
          color: rgb(33, 115, 164);
        }

        > p {
          margin-top: 20px;
          color: #444;
          font-family: "Noto Sans",sans-serif
        } 
    }
  }

  .section2 {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 120px;

    @media(max-width: 600px) {
      padding: 0;
    }
  
    > div {
      padding: 10px 20px;
      max-width: 1100px;
        border-radius: 7px;
        padding: 3rem;

        > h1 {
          font-family: "Fjalla One",sans-serif;
          font-weight: 700;
          font-size: 1.7rem;
          text-align: center;
          color: rgb(33, 115, 164);
        }

        > p {
          margin-top: 20px;
          color: #444;
          font-family: "Noto Sans",sans-serif
        } 
    }
  }

  .section3 {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    @media(min-width: 600px) {
      flex-wrap: nowrap;
    }
  
    > div {
        width: 300px;
        border-radius: 7px;
        padding: 0 1rem;

        .header_1 {
          display: flex;
          
          img {
            width: 20px;
            margin-right: 5px;
          }
          h1 {
            margin-top: 1px;
            margin-bottom: 0;
            font-family: "Noto Sans",sans-serif;
            font-weight: 700;
            font-size: 1.1rem;
            color: rgb(33, 115, 164);
          }
        }

        

        > p {
          margin-top: 15px;
          color: #444;
          
          margin-bottom: 25px;
          font-family: "Noto Sans",sans-serif;

          @media(max-width: 600px) {
            font-size: 14px;
          }
        } 
    }
  }

  .section4 {
    margin-top: 30px;
    background-color: rgb(33, 115, 164);
    display: flex;
    justify-content: center;
    color: white;
    font-weight: 700;
    font-size: 14px;
    width: 100%;
    padding: 20px 0;
    font-family: "Noto Sans",sans-serif;

    > div {
      display: flex;
      text-align: center;
      justify-content: center;
      flex-direction: column;
      background-color: hsla(0,0%,100%,.15);
      padding: 5px;
      width: 170px;
      height: 190px;
      margin: 20px;

      > span {
        &:nth-child(1) {
          font-size: 32px;
        }
      }
    }
  }
